h1{
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 3rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0.25rem 1rem;
    cursor: pointer;
}

.icon{
    font-size: 2.5rem;
    margin-right: .75rem;
    transform: translate(0px, 0.25rem);
}